MONGO_DATABASE=tickets-api-db
MONGO_URI=mongodb+srv://db_user:2003@smartcampus.fawgooi.mongodb.net/?appName=SmartCampus
MONGO_USER=db_user
MONGO_PASSWORD=2003
MONGO_CLUSTER=smartcampus.fawgooi.mongodb.net
CLERK_JWT_SECRET=sk_test_MOC9QYGb8a5MVr9dEVkotOlCaiXVKrCmSYLITmr0aI
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=hansana687@gmail.com
MAIL_PASSWORD=cymm tqig cktq vxdg
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
